@CHARSET "UTF-8";

#left-sidebar {
	display: block;
	background: rgba(0, 0, 0, 0.29);
}

@media ( min-width : 768px) {
	#left-sidebar {
		/* any change has to be replicated in #footer below */
		height: 100%;
		position: fixed;
		top: 0;
		left: 3%;
		width: 13%;
		max-width: 150px;
		min-width: 150px;
		background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.29) 0%,
			rgba(0, 0, 0, 0) 78%, rgba(0, 0, 0, 0) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0
			, 0, 0.29)), color-stop(78%, rgba(0, 0, 0, 0)),
			color-stop(100%, rgba(0, 0, 0, 0)));
		background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.29) 0%,
			rgba(0, 0, 0, 0) 78%, rgba(0, 0, 0, 0) 100%);
		background: -o-linear-gradient(top, rgba(0, 0, 0, 0.29) 0%,
			rgba(0, 0, 0, 0) 78%, rgba(0, 0, 0, 0) 100%);
		background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.29) 0%,
			rgba(0, 0, 0, 0) 78%, rgba(0, 0, 0, 0) 100%);
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.29) 0%,
			rgba(0, 0, 0, 0) 78%, rgba(0, 0, 0, 0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a000000',
			endColorstr='#00000000', GradientType=0);
	}
}

@media ( min-width : 992px) {
	#left-sidebar {
		/* any change has to be replicated in #footer below */
		left: 6.5%;
		width: 13%;
		max-width: 205px;
		min-width: 190px;
	}
}

@media ( min-width : 1200px) {
}

/* -------------- LOGO ----------------- */
#left-sidebar .logo {
	padding: 15px 0 20px 0;
	text-align: center;
	background: rgba(0, 0, 0, 0.1);
}

#left-sidebar .logo img {
	display: block;
	margin: 0 auto;
	width: auto;
	max-width: 75%;
	height: auto;
}

@media ( min-width : 768px) {
	#left-sidebar .logo {
		padding: 28px 0 20px 0;
		background: none;
	}
}

@media ( min-width : 992px) {
	#left-sidebar .logo {
		padding: 42px 0 30px 0;
	}
}

@media ( min-width : 1200px) {
}

/* -------------- MAIN MENU ----------------- */
#left-sidebar #mobile-menu-icon {
	display: block;
	width: auto;
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	margin: 0;
	color: #c9c9c9;
	font-weight: bold;
	background: rgba(0, 0, 0, 0.2);
	cursor: pointer;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

#left-sidebar #mobile-menu-icon span {
	font-size: 1.43em;
	line-height: 45px;
	height: 50px;
	text-align: center;
	display: block;
	margin: 0 auto;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

#left-sidebar #mobile-menu-icon:hover, #left-sidebar #mobile-menu-icon.active
	{
	color: #fff;
	background: rgba(0, 0, 0, 0.4);
}

#left-sidebar #main-menu {
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0.86em;
	line-height: 1.05;
	text-transform: lowercase;
	background: rgba(0, 0, 0, 0.1);
	width: 100%;
}

#left-sidebar #main-menu>li.menu-item {
	display: block;
	margin: 0;
	padding: 0;
}

#left-sidebar #main-menu>li.menu-item>a, #left-sidebar #main-menu>li.menu-item>span
	{
	display: block;
	padding: 13px 10px;
	background: rgba(0, 0, 0, 0.01);
	color: #fff;
	text-decoration: none;
	text-align: center;
	font-weight: normal;
}

#left-sidebar #main-menu>li.menu-item>a:hover {
	background: rgba(0, 0, 0, 0.3);
}

#left-sidebar #main-menu>li.menu-item.active>* {
	font-weight: bold;
	background: rgba(0, 0, 0, 0.15);
}

@media ( min-width : 768px) {
	#left-sidebar #main-menu {
		display: block;
		margin: 8px 0;
		background: none;
		font-size: 0.9em;
		line-height: 1;
	}
	#left-sidebar #main-menu>li.menu-item>a, #left-sidebar #main-menu>li.menu-item>span
		{
		padding: 7px 10px;
	}
}

@media ( min-width : 992px) {
	#left-sidebar #main-menu {
		margin: 12px 0;
		font-size: 1.02em;
		line-height: 1;
	}
}

@media ( min-width : 1200px) {
}